{% for message in messages %}
{% if message['role'] == 'system' %}
### System:
{{ message['content']|trim -}}
{% elif message['role'] == 'user' %}
### User:
{{ message['content']|trim -}}
{% elif message['role'] == 'assistant' %}
### Assistant:
{{ message['content']|trim -}}
{% endif %}
{% endfor %}
{% if add_generation_prompt and messages[-1]['role'] != 'assistant' %}
### Assistant:
{% endif %}
